.credentialsContainer {
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 5px;
    max-width: 40rem;
    margin: 2rem auto;
    font-size: 0.8rem;
    position: relative;
    height: 16rem;
    transition: height 0.3s ease-out;

    &.containerCollapse {
        height: 3rem;
        overflow: hidden;
        transition: height 0.3s ease-in;
    }

    .titleCredential {
        color: var(--color-gray-100);
        margin: 0;

        .infoLogo {
            color: var(--color-blue-700);
            margin-right: 0.4rem;
        }
    }

    .infoText,
    .credentialsForm {
        opacity: 1;
        transition: opacity 0.3s ease-out;

        &.contentIsCollapsed {
            opacity: 0;
        }
    }

    .credentialInput {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-radius: 4px;
        border: 1px solid var(--color-gray-500);
        background-color: var(--color-gray-700);
        color: var(--color-gray-100);
    }

    .buttonContainer {
        display: flex;
        justify-content: end;
        margin-top: 1rem;

        button {
            background-color: var(--color-gray-500);
            color: var(--color-gray-900);
            padding: 0.5rem 1.5rem;
            border-radius: 4px;
            text-decoration: none;
            border: none;

            &:hover,
            &:active,
            &.active {
                background-color: var(--color-primary-600);
            }
        }
    }

    .collapseButton {
        cursor: pointer;
        position: absolute;
        top: 95%;
        right: 0;
        transition: top 0.3s ease-out;
        rotate: 180deg;

        &.buttonIsCollapsed {
            rotate: 0deg;
            top: 30%;
        }
    }
}
