.events {
    margin: 2rem auto;
    max-width: 40rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.elements {
    background-color: var(--color-gray-700);
    height: 12rem;
    border-radius: 4px;
    animation: loading-skeleton 3s linear infinite alternate;
}

.image {
    width: 33%;
    background-color: var(--color-gray-600);
    height: 100%;
    animation: loading-skeleton 1s linear infinite alternate;
}


@keyframes loading-skeleton {
    0% {
        background-color: var(--color-gray-700);
    }

    100% {
        background-color: var(--color-gray-600);
    }
}