.container {
    display: flex;
    align-items: center;
    position: relative;
}

.container button {
    position: absolute;
}

h1 {
    color: var(--color-primary-800);
    font-size: 1.6rem;
    margin: 2rem auto;
    text-align: center;
}
