.keys {
    color: var(--color-gray-100);
}

.string {
    color: var(--color-green-700);
}

.component {
    color: var(--color-pink-700);
}

.pointers {
    color: var(--color-blue-700);
}

button {
    cursor: pointer;
    margin-right: .3rem;
}